* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
}

nav {
    background-color: lightseagreen;
    width: 100%;
}

header button {
    width: 60px;
    text-align: center;
}

h2 {
    color: white;
}

main>.container {
    padding: 150px 15px 0;
}

div.text-desc {
    text-align: left;
}

div.todo-group-check {
    background-color: rgb(175, 219, 247);
}

div.todolist-item {
    margin: 15px 5px 5px;
    width: calc(100% - 10px);
}

div.todolist-item>button {
    font-size: large;
    font-weight: 700;
}

#todolist {
    text-align: center;
}

#edit-input {
    display: none;
}

div.todo-menu {
    width: calc(50%);
}